/* Estilos es el archivo CSS donde está el reset, las tipos y las variables */
*{
    box-sizing: border-box; /* borde */
    margin: 0; /* margen */
    padding: 0; /* relleno */
}

@font-face {
    font-family: 'PoppinsBold', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsMedium', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsLight', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables generales*/

:root {
    /* colores */
    --color-primary: #2d2826;
    --color-secondary: #faeae1;
    --color-text: #faeae1;
    --bg-color: #2d2826;
    --color-emphasis: #FFEE88 ;

    /* tipografías */
 
    --font-regular: 'Poppins';
    --font-medium: 'PoppinsMedium';
    --font-bold: 'PoppinsBold';
    --font-light: 'PoppinsLight';

    /* Tamaños de fuente */
    --font-size-xs: 0.75em;
    --font-size-sm: 1em;
    --font-size-md: 1.5em;
    --font-size-lg: 1.6rem; /*main_titulo*/
    --font-size-xl: 2.5em;
    --font-size-xxl: 4em;

    /* colores de texto */
    --color-text-dark: #1D1D1B; /* por si algún día quiero hacer la web en modo oscuro */
    --color-text-light: #ffffff;
    --color-text-headers: #bf8551;
}