/* Estilos es el archivo CSS general donde está el reset, las tipos y las variables */
*{
    box-sizing: border-box; /* borde */
    margin: 0; /* margen */
    padding: 0; /* relleno */
}

@font-face {
    font-family: 'PoppinsBold', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsMedium', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsLight', sans-serif;
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables generales*/

:root {
    /* colores */
    --color-primary: #2d2826;
    --color-secondary: #faeae1;
    --color-tertiary: #6c4c30; /*para la tabla de coments de la home page*/
    --color-fourth: #211c1a; /* color de fondo de los coments*/
    --color-fifth: #5e3023; /*color del borde del fondo de los coments*/
    --color-text: #faeae1;
    --bg-color: #37302e;
    --bg-color-secondary: #faeae1;
    --color-emphasis:  #bf8551 ;

    /* tipografías */
 
    --font-regular: 'Poppins';
    --font-medium: 'PoppinsMedium';
    --font-bold: 'PoppinsBold';
    --font-light: 'PoppinsLight';

    /* Tamaños de fuente */
    --font-size-xs: 0.8rem;/*recetas_texto*/
    --font-size-sm: 0.9rem;/*header__descripcion*/
    --font-size-md: 1rem;/*recetas_titulo*/
    --font-size-lg: 1.2rem;/*header__titulo*/
    --font-size-xl: 1.6rem;/*main_titulo*/
    --font-size-xxl: 2rem;

    /* colores de texto */
    --color-text-dark: #faeae1; /* por si algún día quiero hacer la web en modo oscuro */
    --color-text-light: #2d2826;
    --color-text-headers: #bf8551;
}