/* 
font-family: 'Poppins', sans-serif;
font-family: 'Gabarito', serif; 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    text-decoration: none;
    list-style: none;
    font-family: 'Gabarito', serif;
    background-color: #faeae1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1em;
}

.header__logotipo {

}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.recetas__img {
    max-width: 100%;
}

.carrousel__img {
    max-width: 50%;
}