/* Estilos generales para movile first: body, header, footer */
.body {
    font-family: 'Poppins';
    background-color: var(--bg-color);
    color: var(--color-secondary);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; /* para eliminar cualquier margen invisible raro que se haya quedado por ahí*/
  }
/* -------------------------------------------------------------------
   2. Header
   ------------------------------------------------------------------- */
.header {
    position: relative; /* los elementos hijos están de manera absoluta */
    text-align: center; /* centro horizontalmente el texto */
    padding: 20px 10px; /* 20px arriba y abajo, 10px der e izq */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7); /* sombra para dar profundidad */
}

.header__imagen img {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: auto; 
    object-fit: cover; /* la img se adapta al contenedor */
    z-index: -1; /* mandar la img detrás de los demás elementos */
}

.header__contenido {
    display: flex; /* contenedor flexible */
    flex-direction: column; /* en columnas, main axis */
    align-items: center; /* eje transversal, alineado en el centro */
    gap: 10px; /* espacio entre elementos de 10px */
}

.header__logo img {
    width: 40%; /* ocupa un 40% del contenedor */
    height: auto;
    margin: 10px 0 ; /* top right bottom left *//* 10px arriba y abajo, 0px der e izq */
}

.header__menu--btn {
    background: none; /* sin fondo */
    border: none; /* sin borde */
    color: var(--color-secondary);
    font-size: var(--font-size-xxl); /* tamaño de la fuente */
    cursor: pointer; /* para hacer que el ratón cambie de icono ya que el menú es interactivo */
    position: absolute;
    top: 40px;
    right: 35px;
    bottom: 60px;
    padding: 10px;
    z-index: 40; /* para ponerlo por encima de los demás elementos */
}

.header__menu--btn i {
    font-size: 1.8rem; /* aumento el tamaño del icono del menu*/
}

.header__link {
    display: block; /* se comporta como un elemento de bloque */
    overflow: hidden; /* no desbordamientos */
}

/* -------------------------------------------------------------------
   3. Menú de nav
   ------------------------------------------------------------------- */

.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Ajusta según la posición del botón */
    right: 10px;
    width: 100px;
    padding: 10px;
    border-radius: 5px; /* el borde del navegador está redondeado */
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav--activo {
    display: flex;
}

.nav__list {
    list-style: none; /* quitar estilos del navegador */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    margin: 20px 0 0 0;
}

.nav__item {
    margin: 22px 0 0 0; 
}

.nav__item a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: var(--font-size-md);
    transition: color 0.3s ease; /* transición para que cambien los elementos de beige a marrón */
    font-size:var(--font-size-sm);
}

/* :hover para aplicar estilos cuando el cursor está sobre los items del nav */
.nav__item a:hover {
    color: var(--color-emphasis);
}

.header__titulo {
    font-size: var(--font-size-lg);
    font-weight: 600; /* define el grosor del texto (bold) */
    margin: 10px 0;
}

.header__linea {
    width: 40%;
    height: 1.8px;
    background-color: var(--bg-color-secondary);
}

.header__descripcion {
    font-size: var(--font-size-sm);
    margin: 0 0 10px;
}

/* -------------------------------------------------------------------
   3. Main
   ------------------------------------------------------------------- */

.main {
    flex: 1; /* para que ocupe todo el espacio que hay */
}

.main__titulo {
    font-size: var(--font-size-xl); 
    font-weight: 600; 
    color: var(--color-emphasis); 
    padding: 40px; 
    margin: 0 0 10px; /* margen inferior */
    text-align: center; /* paara centrar el texto */
}

/* -------------------------------------------------------------------
   4. Footer
   ------------------------------------------------------------------- */
.footer {
    background-color: #1a1716; /* color + oscuro*/
    color: var(--color-secondary); /* color de texto que resalte */
    padding: 20px 20px 40px 20px; 
    display: flex; /* contenedor flexible*/
    flex-direction: column; /* el orden de los elementos está invertido en una columna */
    text-align: center;
    position: static; /* flujo normal, x defecto */
}

.footer__logo--logotipo {
    max-width: 25%; 
}

.footer__derechos {
    font-size: var(--font-size-xs);
    margin: 0 0 8px;
}

/* footer para el recetario y demás pags */

.footer__menu {
    list-style: none; 
    padding: 0;
}

.footer__menu li {
    margin-bottom: 1px;
}

.footer__a {
    color: var(--bg-color-secondary);
    text-decoration: none;
    font-size: var(--font-size-xs); 
    transition: color 0.3s ease; 
}

.footer__a:hover {
    color: var(--color-emphasis); 
}







/* -------------------------------------------------------------------
   Media Query: pantallas frandes, desktop, tablets
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */
@media screen and (min-width: 1600px) {

    .header__logo img {
        width: 30%; /* el logo ocupa el 30% del ancho que hay */
    }

    .footer {
        flex-direction: row; /* los elementos están en fila */
        /* justify-content: main axis*/ 
        /* space-between: para no dejar espacio al principio y al final del footer */
        justify-content: space-between; 
    }

    .footer__logo--logotipo {
        max-width: 10%;
    }
}







/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .body {
        background-color: #27201e; 
        overflow-x: hidden; 
    }

    .header {
        padding: 40px 20px;
        position: relative;
    }

    .header__contenido {
        display: flex;  
        flex-direction: row;
        align-items: center;
    }

    .header__link {
        width: 300px;
        display: block;
        height: auto;
        overflow: hidden; 
    }

    .header__imagen img {
        width: 100%;
        height: 100%;
    }

    .header__logo img {
        width: 50%;
    }

    .header__logotipo {
        width: 100%; 
        height: auto; 
        margin: 0 0 0 20px;
    }

    .header__menu--btn {
        top: 60px;
        right: 77px;
        bottom: 60px;
    }

    .nav {
        top: 100px; 
        right: 50px;
        width: 100px;
        padding: 10px;
        border-radius: 5px;
        z-index: 99;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav__list {
        display: flex;
        gap: 20px; 
        justify-content: center;
        align-items: center;
    }

    .nav__item {
        list-style: none;
    }

    .header__titulo {
        font-size: 1.8rem;
    }
    
    .header__linea {
        width: 100%;
        height: 2.3px;
        background-color: #faeae1;
    }

    .header__descripcion {
        font-size: 1.2rem;
    }

    .main__titulo{
        margin: 0 0 10px; /* margen inferior */
        text-align: center; 
    }

    .footer {
        background-color: #1a1716; /* color + oscuro*/
        color: var(--color-secondary); /* color de texto que resalte */
        padding: 30px 0 40px 0; 
        display: flex; /* contenedor flexible*/
        flex-direction: column; /* el orden de los elementos está invertido en una columna */
        text-align: center;
        position: static; /* flujo normal, x defecto */
    }
    
    .footer__logo--logotipo {
        max-width: 10%; 
    }
    
    .footer__derechos {
        font-size: var(--font-size-xs);
        margin: 0 0 8px;
    }
}









/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header__menu--btn {
        font-size: 1.7rem;
        top: 30px;
        padding: 10px;
    }

    .nav__list {
        gap: 7px;
        padding: 8px;
        margin: 0;
    }

    .nav__item a {
        font-size: 0.8rem;
    }

    .footer {
        background-color: #1a1716; /* color + oscuro*/
        color: var(--color-secondary); /* color de texto que resalte */
        padding: 30px 0 40px 0; 
        display: flex; /* contenedor flexible*/
        flex-direction: column; /* el orden de los elementos está invertido en una columna */
        text-align: center;
        position: static; /* flujo normal, x defecto */
    }
    
    .footer__logo--logotipo {
        max-width:15%; 
    }
    
    .footer__derechos {
        font-size: var(--font-size-xs);
        margin: 0 0 8px;
    }
}


