/* -------------------------------------------------------------------
   1. Estilos generales (mobile first)
   ------------------------------------------------------------------- */
/* estos son los estilos generales del body, header, main, y footer de todas las pags */
.body {
    font-family: 'Poppins', sans-serif; /* fuente principal de mi web */
    background-color: #2d2826; /* color de fondo */
    color: #faeae1; /* color del texto */
    line-height: 1.5; /* espacio vertical entre líneas de los textos */
}

/* -------------------------------------------------------------------
   2. Header
   ------------------------------------------------------------------- */
.header {
    position: relative; /* los elementos hijos están de manera absoluta */
    text-align: center; /* centro horizontalmente el texto */
    padding: 20px 10px; /* 20px arriba y abajo, 10px der e izq */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7); /* sombra para dar profundidad */
}

.header__imagen img {
    position: absolute; /* la img está de manera absoluta */
    top: 0; /* top, left: la img va arriba y a la izq */
    left: 0;
    width: 100%; /* la img ocupa todo el ancho del header */
    height: auto; /* altura img automática */
    object-fit: cover; /* la img se adapta al contenedor */
    z-index: -1; /* mandar la img detrás de los demás elementos */
}

.header__contenido {
    display: flex; /* contenedor flexible */
    flex-direction: column; /* en columnas, main axis */
    align-items: center; /* eje transversal, alineado en el centro */
    gap: 10px; /* espacio entre elementos de 10px */
}

.header__logo img {
    width: 40%; /* ocupa un 40% del contenedor */
    height: auto;
    margin: 10px 0; /* 10px arriba y abajo, 0px der e izq */
}

.header__menu--btn {
    background: none; /* sin fondo */
    border: none; /* sin borde */
    color: beige;
    font-size: 1.5rem; /* tamaño de la fuente */
    cursor: pointer; /* para hacer que el ratón cambie de icono ya que el menú es interactivo */
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 40; /* para ponerlo por encima de los demás elementos */
}

.header__link {
    display: block; /* se comporta como un elemento de bloque */
}

.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Ajusta según la posición del botón */
    right: 10px;
    width: 100px;
    padding: 10px;
    border-radius: 5px; /* el borde del navegador está redondeado */
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav--activo {
    display: flex;
}

.nav__list {
    list-style: none; /* quitar estilos del navegador */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav__item a {
    text-decoration: none;
    color: #faeae1;
    font-size: 1rem;
    transition: color 0.3s ease; /* transición para que cambien los elementos de beige a marrón */
}

.nav__item a:hover {
    color: #bf8551;
}

.header__titulo {
    font-size: 1.2rem;
    font-weight: 600; /* define el grosor del texto (bold) */
    margin: 10px 0;
}

.header__linea {
    width: 40%;
    height: 1.8px;
    background-color: #faeae1;
}

.header__descripcion {
    font-size: 0.9rem;
    margin: 0 0 10px;
}

/* -------------------------------------------------------------------
   3. Main
   ------------------------------------------------------------------- */
   .main {
    padding: 20px 10px; /* 20px arriba/abajo y 10px der/izq */
    max-width: 1200px; /* max tamaño del main: 1200px */
    color: beige;
    background-color: #27201e; /* color de fondo del main */
    margin: 0 auto; /* para centrar horizontalmente el main */
    display: block; /* 1 */
    box-sizing: border-box; /* 1 */
}

.main__titulo {
    font-size: 1.6rem; /* tamaño del título principal */
    font-weight: 600; /* grosor del texto */
    color: #bf8551; /* color del título */
    padding: 40px; /* espaciado interno */
    margin: 0 0 10px; /* margen inferior */
    text-align: center; /* centrar el texto */
}

/* -------------------------------------------------------------------
   4. Recetas
   ------------------------------------------------------------------- */
.recetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; /* espacio entre recetas */
    width: 80%; /* ancho del contenedor de recetas */
    height: auto; /* altura automática */
    position: relative; /* para posicionar elementos hijos */
}

.receta {
    width: 100%; /* ancho completo */
    height: auto; /* altura automática */
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7); /* sombra */
    border-radius: 5px; /* bordes redondeados */
    cursor: pointer; /* cursor de puntero */
}

.recetas__titulo {
    color: #bf8551; /* color del título de la receta */
    font-size: 1rem; /* tamaño del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0; /* margen superior */
}

.recetas__texto {
    color: #faeae1; /* color del texto de la receta */
    font-size: 0.8rem; /* tamaño del texto */
    padding: 10px; /* espaciado interno */
}

.recetas__linea {
    border: 1px solid #faeae1; /* línea de separación */
    margin: 30px 10px; /* márgenes */
}

/* -------------------------------------------------------------------
   5. Comentarios
   ------------------------------------------------------------------- */
.comentarios {
    background-color: #6c4c30; /* color de fondo */
    color: #faeae1; /* color del texto */
    padding: 20px; /* espaciado interno */
    border-radius: 10px; /* bordes redondeados */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7); /* sombra */
    max-width: 600px; /* ancho máximo */
    margin: 40px auto 50px; /* márgenes */
}

.comentarios__inicio, form {
    display: flex; /* contenedor flexible */
    flex-direction: column; /* en columnas */
    gap: 20px; /* espacio entre elementos */
}

.comentarios__fieldset {
    border: 1px solid #bf8551; /* borde del fieldset */
    border-radius: 8px; /* bordes redondeados */
    padding: 10px; /* espaciado interno */
}

.comentarios__label {
    font-weight: 450; /* grosor del texto */
    font-size: 0.8rem; /* tamaño del texto */
    margin: 0 0 5px 5px; /* márgenes */
}

.comentarios__input, .comentarios__textarea {
    width: 100%; /* ancho completo */
    padding: 10px; /* espaciado interno */
    border: 1.5px solid #5e3023; /* borde */
    background-color: #211c1a; /* fondo */
    color: #faeae1; /* color del texto */
    font-size: 0.7rem; /* tamaño del texto */
}

.comentarios__textarea {
    min-height: 100px; /* altura mínima */
}

/* -------------------------------------------------------------------
   6. Banner
   ------------------------------------------------------------------- */
.banner {
    width: 100%; /* ancho completo */
}

.banner__foto {
    display: block; /* bloque*/
}