
/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */

.main {
    padding: 20px 20px; /* 20px arriba/abajo y 10px der/izq */
    background-color: var(--bg-color);
    margin: 0 auto;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
}

.main__titulo {
    font-size: var(--font-size-xl); 
    font-weight: 600; 
    color: var(--color-emphasis); 
    padding: 40px; 
    margin: 0 0 10px;
    text-align: center;
}

.main__historia {
    padding: 20px;
    color: var(--color-secondary); 
    font-size: var(--font-size-sm);
    font-weight: 300;
}

.texto2 {
    display: none;
}

.btn__expandir {
    background-color: var(--color-emphasis);
    border: none;
    font-weight: 550;
    color: var(--color-secondary); 
    font-size: var(--font-size-sm);
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 1s ease;
    margin: 20px 0 0;
}

.btn-expandir:hover {
    background-color: var(--color-secondary);
    color: var(--color-emphasis);
}

.slider {
    width: 400px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.slider__titulo {
    font-weight: 600;
    color: var(--color-emphasis);
}

.slider__texto {
    margin: 0 0 10px;
    font-size: var(--font-size-sm);
    color:var(--color-emphasis);
    font-weight: 600;
}

.slider__container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider__foto {
    min-width: 100%;
    
}

.slider__foto1, .slider__foto2{
    width: 100%;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-emphasis);
    font-weight: 400;
    padding: 10px;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    z-index: 20;
    transition: background-color .5s ease;
}

.slider__btn:hover {
    background-color: var(--color-emphasis);
    color: var(--color-secondary);
}

.slider__btn--prev {
    left: 30px;
    border-radius: 6px;
}

.slider__btn--next {
    right: 10px;
    border-radius: 6px;
}














/* -------------------------------------------------------------------
   5. Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {

    .slider {
        width: 1200px;
        margin: 40px auto;
    }
}

/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .main {
        margin: 0 auto;
    }

    .header__descripcion {
        font-size: 1.2rem;
    }

    .slider {
        width: 700px; /* Ajustamos el tamaño del slider para tablets */
        margin: 30px auto;
    }

    .slider__foto {
        width: 100%;
    }

    .slider__foto1, .slider__foto2 {
        height: auto;
        object-fit: cover;
    }
}














/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header__texto {
        display: none;
    }
    
    .header__menu--btn {
        font-size: 1.7rem;
        top: 30px;
        padding: 10px;
    }

    .nav__list {
        gap: 7px;
        padding: 8px;
        margin: 0;
    }

    .nav__item a {
        font-size: 0.8rem;
    }

    .slider {
        width: 560px; /* Ajustamos el tamaño del slider para tablets */
        margin: 30px auto;
    }

    .slider__foto {
        width: 100%;
    }

    .slider__foto1, .slider__foto2 {
        height: auto;
        object-fit: cover;
    }
}
