/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */

.main {
    padding: 20px;
    background-color: var(--bg-color);
    margin: 0 auto;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
}

.main__titulo {
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-emphasis);
    padding: 40px;
    margin: 0 0 10px;
    text-align: center;
}

.main__historia {
    padding: 20px;
    color: var(--color-secondary);
    font-size: var(--font-size-sm);
    font-weight: 300;
}








/* -------------------------------------------------------------------
   5. Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {

}

/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .main {
        margin: 0 auto;
    }

    .main__titulo {
        font-size: var(--font-size-xxl);
    }
}


/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
}
