/* estilos generales, movile first 
* #faeae1
* #5e3023
* bf8551
* #000000 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Poppins', sans-serif;
    background-color: #37302e;
    color: #faeae1;
    line-height: 1.5;
}

.header {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
}

.header__imagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header__logo img {
    display: flex;
    width: 40%;
    height: auto;
    margin-top: 10px;
}

.header__menu--btn {
    background: none;
    border: none;
    color: beige;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 40;
}

.header__menu--btn i {
    font-size: 1.8rem; /* aumento el tamaño del icono del menu*/
}

.header__link {
    display: block;
    overflow: hidden; 
}

.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px; /* Ajusta según la posición del botón */
    right: 10px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav--activo {
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav__item {
    margin: 3px 0;
}

.nav__item a {
    text-decoration: none;
    color: #faeae1;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav__item a:hover {
    color: #bf8551;
}

.header__titulo {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.header__linea {
    width: 40%;
    height: 1.8px;
    background-color: #faeae1;
}

.header__descripcion {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.main {
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: beige;
    background-color: #37302e;
}

.main__titulo {
    font-size: 1.6rem;
    font-weight: 600;
    color: #bf8551;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}



.footer {
    background-color: #1a1716;
    color: #faeae1;
    padding: 30px 20px; 
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    position: static;
}

.footer__logo--logotipo {
    max-width: 25%; 
}

.footer__derechos {
    font-size: 0.8rem;
}

.footer__menu {
    list-style: none;
    padding: 15px;
}

.footer__menu a {
    text-decoration: none;
    color: #faeae1;
    font-size: 0.8rem;
}

.footer__menu a:hover {
    text-decoration: dashed;
    color: #bf8551;
}










/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .body {
        background-color: #37302e;
    }

    .header {
        padding: 40px 20px;
    }

    .header__contenido {
        flex-direction: row;
    }

    .header__texto {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 270px;
    }

    .header__link {
        width: 300px;
        display: block;
        height: auto;
        overflow: hidden; 
    }

    .header__imagen img {
        width: 100%;
        height: 100%;
    }

    .header__logo img {
        width: 50%;
    }

    .header__logotipo {
        width: 100%; 
        height: auto; 
        margin-left: 20px;
    }

    .header__menu--btn {
        top: 60px;
        right: 88px;
    }

    .nav {
        top: 100px; /* Ajusta según la posición del botón */
        right: 50px;
        width: 100px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav__list {
        display: flex;
        gap: 20px; 
        justify-content: center;
        align-items: center;
    }

    .nav__item {
        list-style: none;
    }

    .header__titulo {
        font-size: 1.8rem;
    }
    
    .header__linea {
        width: 100%;
        height: 2.3px;
        background-color: #faeae1;
    }

    .header__descripcion {
        font-size: 1.2rem;
    }

    .main__recetas-otros {
        display: grid; 
        grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
        gap: 10px; 
        margin-top: 30px;
    }

    .recetas {
        display: flex;
        flex-direction: column;

    }

    .recetas__1, .recetas__2, .recetas__3, .recetas__4, .recetas__5, .recetas__6, .recetas__7, .recetas__8 {
        width: 600px;
        padding: 20px;
    }

    .receta__1, .receta__2, .receta__3, .receta__4, .receta__5, .receta__6, .receta__7, .receta__8 {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        cursor: pointer;
        padding: 20px;
    }
    
    .recetas__titulo{
        color: #bf8551;
        font-size: 1.2rem;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
    }

    .recetas__texto {
        margin-top: 3px;
        font-size: 0.9rem;
    }

    .recetas__linea {
        margin-top: 20px;
    }

    .footer {
        display: flex; 
        justify-content: space-between; /* espacio entre los elementos*/
        align-items: center; /*para poner los elementos de manera vertical*/
        flex: wrap; /* como no caben los elementos, esto las psa a otra linea*/
        padding: 10px 10px; 
    }

    .footer__logo {
        flex: 1; /*el logo ocupa un espacio proporcional a el */
        text-align: center; /* para centrar el logo*/
        margin-bottom: 5px;
    }

    .footer__derechos {
        flex: 1;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer__menu {
        flex: 1;
        display: flex;
        justify-content: center; /* centra el menú horizontalmente*/
        gap: 20px;
    }

    .footer__logo--logotipo {
        max-width: 10%; 
    }
}

/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header__texto {
        display: none;
    }
    
    .header__menu--btn {
        font-size: 1.7rem;
        top: 30px;
        padding: 10px;
    }

    .nav__list {
        gap: 7px;
        padding: 8px;
        margin: 0;
    }

    .nav__item a {
        font-size: 0.8rem;
    }

    .footer {
        padding: 30px 20px; 
    }

    .footer__logo--logotipo {
        max-width: 18%; 
    }
}

/* Media Query para móviles */
@media screen and (max-width: 768px) {
    .header__texto {
        display: none;
    }

    .header__menu--btn {
        top: 35px;
        padding: 10px;
    }

    .nav__list {
        gap: 7px;
        padding: 8px;
        margin: 0;
    }

    .nav__item a {
        font-size: 0.8rem;
    }

    .footer {
        padding: 30px 20px; 
    }
}
