/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */

.main {
    padding: 20px 20px; /* 20px arriba/abajo y 10px der/izq */
    background-color: var(--bg-color);
    margin: 0 auto;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
}

.main__titulo {
    font-size: var(--font-size-xl); 
    font-weight: 600; 
    color: var(--color-emphasis); 
    padding: 40px; 
    margin: 0 0 10px; /* margen inferior */
    text-align: center; /* paara centrar el texto */
}

.main__recetas-otros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.recetas {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center; 
    padding: 0;
    width: 100%;
}

.recetas__item {
    width: 100%; 
    max-width: 450px; 
    padding: 20px;
    margin: 0 auto;
}

.recetas__imagen {
    width: 100%;
    max-height: 400px;
    height: auto;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    cursor: pointer;
}

.recetas__titulo {
    color: var(--color-emphasis);
    font-size: var(--font-size-lg);
    margin: 20px 0 0 0;
}

.recetas__link {
    text-decoration: none;
    margin: 3px 0 0 0;
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    transition: color 0.3s ease;
    text-align: center; /* Centra el enlace */
}

.recetas__link:hover {
    color: var(--color-emphasis);
}

.recetas__linea {
    margin: 20px 0 0 0;
    border: 1px solid var(--color-secondary);
    width: 300px;
    margin-left: auto;
    margin-right: auto; /* Centrado de la línea */
}

.otros {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    align-items: center; /* Centrado de los elementos dentro de otros */
}

.otros__link {
    text-decoration: none;
    color: var(--color-emphasis);
    padding-bottom: 10px;
    transition: color 0.5s ease;
    text-align: center; /* Centrado de los enlaces */
}

.otros__link:hover {
    color: var(--color-secondary);
}

.otros__libros {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center; /* Centra los libros */
    flex-wrap: wrap; /* Permite que los libros se ajusten */
    gap: 10px;
}

.otros__libro {
    width: 200px;
    height: auto;
    margin: 0 10px 25px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    text-align: center; /* Centra el contenido dentro de cada libro */
}











/* -------------------------------------------------------------------
   Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {
    .main {
        width: 100%;
        max-width: 1600px; 
        margin: 0 auto; 
    }


    .main__titulo {
        font-size: 3rem; 
        text-align: center;
    }

    .main__recetas-otros {
        display: grid;
        grid-template-columns: 70% 30%; 
        gap: 30px;  
    }

    .recetas__item {
        width: 100%;
        max-width: 500px;
        padding: 25px;
        margin: 10px 0;
    }

    .receta__uno, .receta__dos, .receta__tres, .receta__cuatro, .receta__cinco, .receta__seis, .receta__siete, .receta__ocho {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
}

/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .main {
        margin: 20px 0 0 150px;
    }

    .main__titulo {
        font-size: 2rem;
    }

    .main__recetas-otros {
        display: grid; 
        grid-template-columns: 70% 30%; 
        gap: 10px; 
        margin: 30px 0 0 0;
    }

    .recetas {
        display: flex;
        flex-direction: column;
    }

    .recetas__item {
        width: 700px;
        padding: 20px;
        max-width: 100%;
    }

    .receta__uno, .receta__dos, .receta__tres, .receta__cuatro, .receta__cinco, .receta__seis, .receta__siete, .receta__ocho {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: #bf8551;
        font-size: 1.2rem;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .receta__texto {
        text-decoration: none;
        margin-top: 3px;
        font-size: 0.9rem;
        color: #faeae1;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }

    .otros {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .otros__1 {
        text-decoration: none;
        color: #bf8551;
        padding-bottom: 10px;
        transition: color 0.5s ease;
    }

    .otros__1:hover {
        color: #faeae1;
    }

    .otros__libros {
        margin: 10px 0 20px 0;
    }

    .otros__libro-1, .otros__libro-2, .otros__libro-3, .otros__libro-4 {
        width: 250px;
        height: auto ;
        margin: 0 0 25px 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    }
}

/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .main__recetas-otros {
        display: grid; 
        grid-template-columns: 70% 30%; 
        gap: 10px; 
        margin: 30px 0 0 10px;
    }

    .recetas {
        display: flex;
        flex-direction: column;
    }

    .recetas__item{
        width: 400px;
        padding: 20px;
        max-width: 100%;
    }

    .receta__uno, .receta__dos, .receta__tres, .receta__cuatro, .receta__cinco, .receta__seis, .receta__siete, .receta__ocho {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: #bf8551;
        font-size: 1.2rem;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .receta__texto {
        text-decoration: none;
        margin: 3px 0 0 0;
        font-size: 0.9rem;
        color: #faeae1;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }

    .otros {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    .otros__1 {
        text-decoration: none;
        color: #bf8551;
        padding-bottom: 10px;
        transition: color 0.5s ease;
    }

    .otros__1:hover {
        color: #faeae1;
    }

    .otros__libros {
        margin: 10px 30px 20px 0; /*arriba 10px, der 30px, abajo 20px, izq 0*/

    }

    .otros__libro-1, .otros__libro-2, .otros__libro-3, .otros__libro-4 {
        width: 200px;
        height: auto ;
        margin: 0 0 25px 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    }
}

