
/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */
.header__recetas {
    display: flex;
    flex-direction: column; /* Por defecto en móvil: vertical */
    align-items: center;
}

.nav__recetas {
    display: flex;
    flex-direction: column; /* También vertical los links */
    align-items: center;
    gap: 10px;
}

.nav__recetas a {
    text-decoration: none;
    font-size: var(--font-size-md);
    color: var(--bg-color-secondary);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav__recetas a:hover {
    background-color: var(--color-emphasis);
    color: #fff; /* O el color que prefieras */
}

.nav__recetas {
    display: flex;
    flex-direction: column; /* Los enlaces se apilan de forma vertical */
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.nav__recetas a {
    text-decoration: none;
    font-size: var(--font-size-md); /* Ajusta según tus variables */
    color: var(--bg-color-secondary);
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav__recetas a:hover {
    background-color: var(--color-emphasis);
}

.main {
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--bg-color-secondary);
    background-color: #37302e;
}


.main__titulo {
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-emphasis);
    padding: 40px 0 5px 0;
    margin: 0 0 10px;
    text-align: center;
}

.main__recetas {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 10px 0 0 0;
    padding: 0 0 0 10px; 
}

.recetas {
    display: flex;
    flex-direction: column;
}

.recetas__uno {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.receta__uno {
    width: 100%;
    height: auto;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto 20px auto;
    display: block;
}

.recetas__titulo{
    color: var(--color-emphasis);
    font-size: var(--font-size-lg);
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.receta__texto {
    margin:0 5px 20px 0;
    font-size: var(--font-size-sm);
}

.ingredientes__h4 {
    font-weight: 500;
    color: var(--color-emphasis);
}

.ingredientes__lista {
    font-size: var(--font-size-xs);
    padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
}

.recetas__linea {
    margin: 20px 0 10px 0;
} 

.otros {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    align-items: center; /* Centrado de los elementos dentro de otros */
}

.otros__link {
    text-decoration: none;
    color: var(--color-emphasis);
    padding-bottom: 10px;
    transition: color 0.5s ease;
    text-align: center; /* Centrado de los enlaces */
}

.otros__link:hover {
    color: var(--color-secondary);
}

.otros__libros {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center; /* Centra los libros */
    flex-wrap: wrap; /* Permite que los libros se ajusten */
    gap: 10px;
}

.otros__libro {
    width: 200px;
    height: auto;
    margin: 0 10px 25px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    text-align: center; /* Centra el contenido dentro de cada libro */
}













/* -------------------------------------------------------------------
   5. Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {
    
    .main {
        max-width: 1600px; 
        margin: 0 auto;
        padding: 0 20px; 
    }

    .main__recetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 10px;
    }
}













/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .header__recetas {
        flex-direction: row; /* Ahora horizontal */
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__recetas {
        flex-direction: row; /* Los enlaces en fila también */
        gap: 30px; /* Se separan bien */
    }
    
    .main {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        padding-left: 20px;  /* Añades un poquito de espacio si quieres */
        padding-right: 20px;
    }

    .main__titulo {
        font-size: var(--font-size-xxl);
    }

    .main__recetas {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: flex-start;
        gap: 10px; 
        padding: 0 0 0 10px;
        width: 100%;
    }

    .main__recetas-otros {
        display: grid;
        grid-template-columns: 2fr 1fr; /* o 70% 30% si prefieres */
        gap: 30px;
        margin-bottom: 60px;
        align-items: start;
    }

    .recetas {
        display: flex;
        flex-direction: column;
    }

    .recetas__uno {
        width: 100%;
        max-width: 600px;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
        margin: 0 auto;
    }

    .receta__uno {
        width: 100%;
        height: 500px;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: var(--color-emphasis);
        font-size: var(--font-size-lg);
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .ingredientes__lista {
        font-size:var(--font-size-sm);
        padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
        color:var(--bg-color-secondary);
    }

    .receta__texto {
        font-size: var(--font-size-sm);
        color: var(--bg-color-secondary);
        padding-bottom: 20px;
        max-width: 800px; /* Igual que las imágenes o un poco más */
        text-align: justify;
        margin: 0 auto;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }

    .otros {
        display: flex;
        flex-direction: column;
        margin: 110px 0 0 0;
        width: 100%;
    }

    .otros__link {
        text-decoration: none;
        color: var(--color-emphasis);
        padding-bottom: 10px;
        transition: color 0.5s ease;
    }

    .otros__link:hover {
        color: var(--bg-color-secondary);
    }

    .otros__libros {
        margin: 10px 0 20px 0;
    }

    .otros__libro {
        width: 250px;
        height: auto ;
        margin: 0 0 25px 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    }
}










/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .main {
        padding: 20px;
        margin: 0 auto;
    }

    .main__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .main__recetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        padding: 10px 20px;
        max-width: 900px;
        margin: 0 auto;
    }

    .recetas {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .recetas__uno {
        width: 50px;
        padding: 20px;
        max-width: 100%;
    }

    .receta__uno {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: var(--color-emphasis);
        font-size: var(--font-size-lg);
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .ingredientes__lista {
        font-size:var(--font-size-xs);
        padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
    }

    .receta__texto {
        font-size:var(--font-size-sm);
        color: var(--bg-color-secondary);
        padding-bottom: 20px;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }
    
}
