
/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */

.main {
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--bg-color-secondary);
    background-color: #37302e;
}

.main__titulo {
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-emphasis);
    padding: 40px;
    margin: 0 0 10px;
    text-align: center;
}


.formulario {
    background-color: var(--bg-color-secondary); 
    color: var(--color-fifth);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
    max-width: 600px; 
    margin: 40px auto 50px auto;
}

.formulario__inicio, .formulario__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario__fieldset {
    border: 1px solid  var(--color-fifth); /*le he puesto una linea de borde para que quede mejor el diseño */
    border-radius: 8px;
    padding: 10px;
}

.formulario__label {
    font-weight: 450;
    font-size: var(--font-size-xs);
    margin: 0 0 5px 5px;
}

.formulario__input {
    width: 100%;
    height: auto;
    font-size: 0.7rem;
    padding: 10px;
    border: 1.5px solid var(--color-fifth);
    border-radius: 5px;
    background-color: #3c332c;
    color: var(--bg-color-secondary);
}

.formulario__input1 {
    margin: 10px 0;
}

.formulario__textarea  {
    height: auto;
    background-color: #211c1a; 
    color: var(--bg-color-secondary); 
    border: 1.5px solid var(--color-fifth);
}













/* -------------------------------------------------------------------
   5. Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {
    .main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 30px 20px;
    }

    .main__titulo {
        font-size: var(--font-size-xxl); 
    }

    .formulario {
        max-width: 900px;
    }
}

/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .main {
        margin: 0 auto;
    }

    .main__titulo {
        font-size: var(--font-size-xxl);
    }

    .formulario {
        background-color: var(--bg-color-secondary); 
        color: var(--color-fifth);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
        max-width: 800px; 
        margin: 40px auto 50px;
    }
    
    .formulario__inicio, .formulario__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .formulario__fieldset {
        border: 1px solid  #5e3023; /*le he puesto una linea de borde para que quede mejor el diseño */
        border-radius: 8px;
        padding: 10px;
    }
    
    .formulario__label {
        font-weight: 450;
        font-size: var(--font-size-xs);
        margin: 0 0 5px 5px;
    }
    
    .formulario__input {
        width: 100%;
        height: auto;
        font-size: var(--font-size-xs);
        padding: 10px;
        border: 1.5px solid var(--color-fifth);
        border-radius: 5px;
        background-color: #3c332c;
        color: var(--bg-color-secondary);
    }
    
    .formulario__input1 {
        margin: 10px 0;
    }
    
    .formulario__textarea  {
        height: 100px;
        background-color: #211c1a; 
        color: var(--bg-color-secondary); 
        border: 1.5px solid var(--color-fifth);
    }
}

/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .main {
        padding: 25px 15px;
    }

    .main__titulo {
        font-size: var(--font-size-lg);
        padding: 15px;
    }

    .formulario {
        padding: 25px;
        max-width: 700px;
        margin: 30px auto 40px auto;
    }

    .formulario__label {
        font-size: var(--font-size-xs);
    }

    .formulario__input {
        font-size: 0.75rem;
        padding: 10px;
    }

    .formulario__textarea {
        height: 90px;
    }
}
