
/* -------------------------------------------------------------------
   3. Main, contenido
   ------------------------------------------------------------------- */

   .main {
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--bg-color-secondary);
    background-color: #37302e;
}


.main__titulo {
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--color-emphasis);
    padding: 40px;
    margin: 0 0 10px;
    text-align: center;
}

.main__recetas {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 10px 0 0 0;
    padding: 0 0 0 10px; 
}

.recetas {
    display: flex;
    flex-direction: column;
}

.recetas__uno {
    width: 90%;
    padding: 20px;
    max-width: 100%;
}

.receta__uno {
    width: 100%;
    height: auto;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    cursor: pointer;
}

.recetas__titulo{
    color: var(--color-emphasis);
    font-size: var(--font-size-lg);
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.ingredientes__h4 {
    font-weight: 500;
    color: var(--color-emphasis);
}

.ingredientes__lista {
    font-size: var(--font-size-xs);
    padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
}

.recetas__linea {
    margin: 20px 0 10px 0;
} 















/* -------------------------------------------------------------------
   5. Media Query: pantallas frandes, desktop, tablets y móviles
   ------------------------------------------------------------------- */

/* Media Query para pantallas más grandes */ 
@media screen and (min-width: 1600px) {
    
    .main {
        max-width: 1600px; 
        margin: 0 auto;
        padding: 0 20px; 
    }

    .main__recetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 10px;
    }
}













/* Media Query para desktop */
@media screen and (min-width: 1024px) {
    .main {
        margin: 20px 0 0 200px;
        max-width: 1200px;
    }

    .main__titulo {
        font-size: var(--font-size-xxl);
    }

    .main__recetas {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: flex-start;
        gap: 10px; 
        padding: 10px 0 0 10px;
    }

    .recetas {
        display: flex;
        flex-direction: column;
    }

    .recetas__uno {
        width: 800px;
        padding: 20px;
        max-width: 100%;
    }

    .receta__uno {
        width: 100%;
        height: 500px;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: var(--color-emphasis);
        font-size: var(--font-size-lg);
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .ingredientes__lista {
        font-size:var(--font-size-sm);
        padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
        color:var(--bg-color-secondary);
    }

    .receta__texto {
        font-size:var(--font-size-sm);
        color: var(--bg-color-secondary);
        padding-bottom: 20px;
        width: 980px;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }
}










/* Media Query para tablets*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .main__recetas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        padding: 10px 0 0 10px;
    }

    .recetas {
        display: flex;
        flex-direction: column;
    }

    .recetas__uno {
        width: 550px;
        padding: 20px;
        max-width: 100%;
    }

    .receta__uno {
        width: 100%;
        height: auto;
        box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        cursor: pointer;
    }
    
    .recetas__titulo{
        color: var(--color-emphasis);
        font-size: var(--font-size-lg);
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .ingredientes__lista {
        font-size:var(--font-size-xs);
        padding: 10px 0 0 20px; /*Arriba 10px, derecha 0, abajo 0, izquiera 20px*/
    }

    .receta__texto {
        font-size:var(--font-size-sm);
        color: var(--bg-color-secondary);
        padding-bottom: 20px;
    }

    .recetas__linea {
        margin: 20px 0 0 0;
    }
}
